<config>
    <!--    choose if tailor server needs auth-->
    <auth>true</auth>

    <!--    password for auth-->
    <!--    max size of password is 1024 bytes-->
    <password>123456</password>

    <!--    AES private key-->
    <!--    length of AES private key must be a multiple of 8-->
    <AESKey>SJL *loves* ZHH-</AESKey>

    <!--    max size of datagram (bytes). -->
    <!--    a datagram consists of command id, key, val and expiration-->
    <!--    you should make sure the params (especially key and val) won't exceed the length limit-->
    <maxSizeOfDatagram>4096</maxSizeOfDatagram>

    <!--    negative numbers represent no expiration (millisecond)-->
    <defaultExpiration>-1</defaultExpiration>

    <!--    clean up cycle of the daemon cleaner which cleans the expired data (millisecond)-->
    <cleanCycle>500</cleanCycle>

    <!--    clean up cycle of the daemon cleaner which cleans the unlinked data (millisecond)-->
    <asyncCleanCycle>500</asyncCleanCycle>

    <!--    Maximum concurrent volume of tailorKV, default value is 2 * CPU-->
    <concurrency>default</concurrency>

    <!--    dir to save persistent files, please use absolute URL-->
    <savingDir>C:\\SJL\\Projects\\Github\\TailorFiles\\</savingDir>

    <!--    name of the persistent files-->
    <fileName>tailorBackUp.tkv</fileName>
</config>